 .u-section-1 {
  background-image: url("images/Leonardo_Phoenix_A_serene_and_majestic_soccer_stadium_serves_a_3.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 631px;
}

.u-section-1 .u-slider-1 {
  margin-top: 78px;
  margin-bottom: 43px;
  min-height: 511px;
  height: auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 239px;
  width: 191px;
  margin: 12px auto 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  grid-gap: 10px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-1 .u-gallery-2 {
  height: 187px;
  width: 191px;
  margin: 42px auto 0;
}

.u-section-1 .u-gallery-inner-2 {
  grid-template-columns: repeat(1, auto);
  grid-gap: 10px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 56px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-1 .u-gallery-3 {
  height: 239px;
  width: 191px;
  margin: 12px auto 0;
}

.u-section-1 .u-gallery-inner-3 {
  grid-template-columns: repeat(1, auto);
  grid-gap: 10px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: auto;
  position: absolute;
  top: 235px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 502px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 188px;
  }
}